*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
}
.navigation{
    text-align: right;
}
.h1{
    text-align: left;
}
.Page1{
    border-style: none;
}
.Page2{
    border-style: none;
}
.Page3{
    border-style: none;
}
.Page4{
    border-style: none;
}
.Page5{
    border-style: none;
}